#dir
src/Test/config/*
src/Test/*
.vscode/*
test/*
config/*
logs/*
docs/*


# source
**/*.ts
*.ts





# configuration
package-lock.json
tslint.json
tsconfig.json
.prettierrc
nodemon.json
nodemon-debug.json
nest-cli.json
tsconfig.build.json





# definitions
!**/*.d.ts
!*.d.ts